.finish {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        margin-bottom: 127px;

        &__img1 {
            img {
                margin-top: -75px;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 330px;
            margin-top: 186px;

            h1 {
                font-family: 'Mont';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 41px;
                text-align: center;
                margin-bottom: 35px;
            }

            img {
                margin-bottom: 80px;
            }

            button {
                width: 330px;
                height: 54px;
                background: #ffd465;
                border-radius: 25px;
                border: 1px solid #ffd465;

                font-family: 'Mont';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
            }
        }

        &__img2 {
            img {
                margin-top: 167px;
                width: 450px;
            }
        }
    }
}
