.cartitem {
    margin-top: 51px;
    margin-bottom: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__title {
        margin-left: 108px;
        margin-right: 65px;
        width: 250px;

        h1 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__price {
        margin-left: 75px;
        margin-right: 46px;
        h1 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__count {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 46px;

        div {
            width: 33px;
            height: 33px;
            background: #ffd465;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 13px;
            margin-right: 13px;
        }

        h1 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__totalPrice {
        margin-left: 71px;
        margin-right: 102px;
        h1 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
        }
    }
}
