.privacy {
    min-height: 100vh;

    &__content {
        display: flex;
        justify-content: space-between;

        &__img1 {
            margin-top: -75px;
        }

        &__img2 {
            margin-top: 619px;
        }

        &__mainblock {
            display: flex;
            flex-direction: column;

            &__info {
                display: flex;
                width: 1170px;
                height: 54px;
                background: #ffd465;
                border-radius: 25px;
                justify-content: center;
                align-items: center;
                margin-top: 65px;

                h1 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 31px;
                }
            }

            &__text {
                display: flex;
                margin-top: 69px;
                flex-direction: column;
                text-align: left;
                width: 1127px;
                margin-bottom: 175px;

                h1 {
                    margin-left: 45px;
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                h2 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
