.footer {
    width: 100%;
    height: 163px;
    background: #ffd465;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            font-family: 'Noteworthy';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 39px;
            color: #000000;
            margin-left: 134px;
            margin-right: 66px;
        }

        h2 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    &__icons {
        margin-right: 135px;

        img {
            margin-left: 43px;
        }
    }
}
