.contacts {
    margin-top: 200px;
    &__title {
        font-family: 'Noteworthy';
        font-style: normal;
        font-weight: 300;
        font-size: 80px;
        line-height: 138.5%;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 84px;

        &__image {
            margin-left: 120px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            margin-right: 120px;

            &__1 {
                display: flex;
                flex-direction: row;
                margin-bottom: 26px;

                img {
                    margin-right: 36px;
                }

                h1 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 138.5%;
                    text-align: left;
                    margin-bottom: 11px;
                }

                h2 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 138.5%;
                    text-align: left;
                    width: 410px;
                    height: 44px;
                }
            }

            &__2 {
                display: flex;
                flex-direction: row;
                margin-top: 26px;
                margin-bottom: 180px;

                img {
                    margin-right: 36px;
                }

                h1 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 138.5%;
                    text-align: left;
                    margin-bottom: 11px;
                }

                h2 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 138.5%;
                    text-align: left;
                    width: 410px;
                    height: 44px;
                }
            }

            &__3 {
                display: flex;
                flex-direction: row;

                img {
                    margin-right: 36px;
                }

                h1 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 138.5%;
                    text-align: left;
                    margin-bottom: 11px;
                }

                h2 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 138.5%;
                    text-align: left;
                    width: 410px;
                    height: 44px;
                }
            }

            &__4 {
                display: flex;
                flex-direction: row;
                margin-top: 36px;

                img {
                    margin-right: 36px;
                }

                h1 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 138.5%;
                    text-align: left;
                    margin-bottom: 11px;
                }

                h2 {
                    font-family: 'Mont';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 138.5%;
                    text-align: left;
                    width: 410px;
                    height: 44px;
                }
            }

            &__buttons {
                display: flex;
                justify-content: left;

                img {
                    margin-top: 4px;
                }

                button {
                    margin: 30px 34px 0px 0px;
                    width: 44px;
                    height: 44px;

                    background: #ffd465;
                    border: 1px solid #ffd465;
                    border-radius: 25px;
                }
            }
        }
    }
}
